<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>JavaBank</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <style>

        .container{
            background-color: aquamarine;
        }

    </style>

</head>
<body>
<div class="container">
    <h2>Customer List</h2>
    <table class="main">
        <tr class="customerTable">
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
        <tr th:each="customer : ${customerList}">
            <td th:text="${customer.id}"></td>
            <td th:text="${customer.firstName}"></td>
            <td th:text="${customer.lastName}"></td>
            <td th:text="${customer.email}"></td>
            <td th:text="${customer.phone}"></td>
        </tr>
        <tr th:each="customer : ${customerList}">
            <th>MESSAGE: </th>
            <th th:if="${customer.id} == '5'" th:text = "HELL YEAH"></th>
        </tr>
    </table>
</div>
</body>
</html>